<h1>Log in to sign</h1>
<p>
    In order to sign our petitions you'll need to have a registered account with us. Thank you for understanding.
</p>

{{#if notValid}}
    <p>
        {{ notValid }}
    </p>
{{/if}}

<form method="POST">
    Email <input type="text" name="email" placeholder="Email" autocomplete="off"/>
    Password <input type="password" name="password" placeholder="Password" autocomplete="off"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Log In</button>
</form>

<p>
    If you don't have an account, please <a href="/register">register</a>.
</p>
