{{#if notValid}}
    <p>
        {{ notValid }}
    </p>
{{/if}}

<form method="POST">
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Log In</button>
</form>
