{{>nav}}

<h1>Stop pushbacks in Ceuta and Malilla</h1>

<article>
    <blockquote>
        <h3>
            Everyone has the right to seek and to enjoy in other countries asylum from persecution.
        </h3>
        <p>
            Article 14 <br> Of the Universal Declaration of Human Rights</p>
    </blockquote>

    <p class="explenation">
        According to <a href="http://www.asylumineurope.org/reports/country/spain/access-territory-and-push-backs" target="_blank">independent reports</a>, Spain is one of the European countries conducting illegal pushbacks of asylum seeking migrants. The practice of extradicting migrants without previous judicial decision is prohibited onde the European Convention on Human Rights.<br>
        If you believe the international agreements on migration should be followed, and all asylum seekers have the right to have their case heard before their fate is decided, please sign here:
    </p>
</article>

{{#if notValid}}
    <p>
        {{ notValid }}
    </p>
{{/if}}

<canvas height="150" width="360" id="sigCanvas"></canvas>

<form method="POST" class="petition">
    <input type="hidden" name="signatureUrl" id="signatureField"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id="submitSig">Submit</button>
</form>
