<h1>Petition</h1>
<p>
    Please sign for goodness.
</p>

<form method="POST">
    <input type="text" name="firstName"/>
    <input type="text" name="lastName"/>
    <input type="text" name="signatureUrl"/>
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
    <button type="submit">Submit</button>
</form>

<canvas height="150" width="360" id="sigCanvas"></canvas>
