{{>nav}}

<h1>Please provide your profile details</h1>

{{#if notValid}}
    <p>
        {{ notValid }}
    </p>
{{/if}}

<form method="POST">
    Age <input type="text" name="age" placeholder="Age" autocomplete="off"/>
    City <input type="text" name="city" placeholder="City" autocomplete="off"/>
    Website <input type="text" name="url" placeholder="Website" autocomplete="off"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Save</button>
</form>
