{{>nav}}

<h1>Thank you!</h1>

<p>
    A total of <a href="/signers">{{ numberSigners }} people</a> signed so far!
</p>

<img src="{{ signature }}" />

<form method="POST" action="/unsign">
    In case you changed your mind:
    <button>Delete signature</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
